.hero {
  --lios-card-background: var(--frosted_white);
  --lios-button-border-width: 2px;
  --lios-button-border-color: var(--primary);
  --lios-button-on-hover-background: var(--secondary);
}
.card-container-1 {
  --lios-card-background: var(--frosted_white);
  --lios-card-width: 300px;
  --lios-button-on-hover-background: var(--secondary);
  --lios-button-border-width: 2px;
  --lios-button-border-color: var(--primary);
}
nav{
  /* --lios-header-nav-2-background: var(--frosted_white); */
  --lios-header-nav-2-component-size: 42px;
  --lios-header-nav-2-color: var(--primary);
  --lios-header-nav-2-hover-color: var(--secondary);
}
.lios-frosted-glass{
  border: 2px groove #0000000d;
}