:root {
  background: radial-gradient(var(--primary), var(--secondary));
}
.hero {
  color: var(--black);
  text-align: center;
  border: 2px outset var(--frosted_white);
  box-sizing: border-box;
}
.card-container-1 {
  color: var(--black);
  text-align: center;
  justify-content: center;
}
.card-container-1 .lios-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px outset var(--frosted_white);
  box-sizing: border-box;
}
.card-container-1 .lios-card hr{
  width: 100%;
}
.card-container-1 .lios-card .lios-button-group {
  margin-bottom: 5px;
  margin-top: auto;
  display: flex;
  justify-content: center;
}
.for-card-1 {
  text-align: center;
  color: var(--white);
}
.favicon {
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 100vh;
}
