:root {
  background: radial-gradient(var(--primary), var(--secondary));
}
.hero {
  color: var(--white);
  text-align: center;
}
.card-container-1 {
  color: var(--white);
  text-align: center;
  justify-content: center;
}
.card-container-1 .lios-button-group {
  margin-bottom: 5px;
  margin-top: auto;
}
.for-card-1 {
  text-align: center;
  color: var(--white);
}
.favicon {
  display: block;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 100vh;
}
