.navigation-container{
    border-radius: 35px;
    --background:var(--frosted_white);
    background: var(--background);
    border: 2px outset var(--background);
    display: flex;
    position: fixed;
    align-items: start;
    flex-direction: column;
    width: 98%;
    justify-self: center;
    height: 53px;
    transition:  height 0.5s ease-in-out;
    align-items: center;
    top: 2%;
    overflow: hidden;
}
.navigation-container .lios-header-nav-2{
    position: static;
    width: 100%;
    align-self: center;
}
.lios-header-nav-2-branding a, .lios-header-nav-2-branding img{
    height: 44px;
    width: 44px;
    border-radius: 100vh;
    box-sizing: border-box;
}
.lios-header-nav-2{
    z-index: 5;
}
.lios-header-nav-2-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}
.lios-header-nav-2-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.navigation-panel{
    display: none;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    justify-content: space-between;
}
.navigation-panel-navigation{
    display: flex;
    width: 20%;
    align-items: start;
    height: calc(100% - (2*10));
    border-radius: 15px;
    margin: 5px;
    --background: var(--frosted_white);
    background: var(--background);
    border: 2px inset var(--background);
    justify-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 5px;
    flex-direction: column;
}
.navigation-panel-view{
    display: flex;
    width: 75%;
    align-items: start;
    height: calc(100% - (2*10));
    border-radius: 15px;
    margin: 5px;
    --background: var(--frosted_white);
    background: var(--background);
    border: 2px inset var(--background);
    justify-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 5px;
}
.navigation-panel-button{
    --padding:12px;
    padding: var(--padding);
    --background: var(--primary);
    color: var(--white);
    background: var(--background);
    border: 2px outset var(--background);
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    justify-self: center;
    display: flex;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}
.navigation-panel-button:hover{
    --background:var(--frosted_secondary);
    transition: all 0.4s ease-in-out;
    color:var(--black);
}
.navigation-panel-button.active{
    --background:var(--secondary);
    transition: all 0.4s ease-in-out;
    color:var(--black);   
}
.navigation-panel-project-card{
    display: flex;
    --background:var(--frosted_primary);
    background: var(--background);
    border: 2px outset var(--background);
    flex-direction: column;
    align-items: center;
}
.navigation-panel-project-card .project-logo{
    display: flex;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    border-radius: 100vh;
    --background:var(--frosted_secondary);
    background: var(--background);
    border: 2px inset var(--background);
}
.navigation-panel-project-card .project-logo img{
    size:1/1;
    width: 100px;
    border-radius: 100vh;
}
.navigation-panel-project-card .lios-action-button{
    text-decoration: none;
    --background:var(--secondary);
    background: var(--background);
    border: 2px inset var(--background);
    --lios-action-button-box-shadow:var(--primary);
    color: var(--black);
}