.lios-header-nav-2-branding a, .lios-header-nav-2-branding img{
    height: 44px;
    width: 44px;
    border-radius: 100vh;
    box-sizing: border-box;
}
.lios-header-nav-2{
    z-index: 5;
}
.lios-header-nav-2-branding,.lios-header-nav-2-pebbles{
    border: 2px outset #0000000d;
}